.main-title {
    display: flex;
    justify-content: center;
    }

.dropdown {
    display: flex;
    justify-content: flex-end;
}

.dropbtn {
    display: grid;
    justify-content: flex-end;
}

main {
    width: 90%;
    margin: 25px 25px 25px 25px;
    padding: 25px, 25px 25px 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-auto-rows: 280px;
    grid-gap: 20px;
   }

.donut-multiplier-text {
   grid-column-start: 2;
   grid-column-end: 3;
   }

.donut-count {
    grid-column-start: 1;
    grid-column-end: 2;
   }

.auto-clicker-text {
    grid-column-start: 2;
    grid-column-end: 3;
}

.purchase-auto-clicker-button {
    grid-column-start: 1;
    grid-column-end: 2;
}

.donut-multiplier-text {
    grid-column-start: 2;
    grid-column-end: 3;
}

.purchase-donut-multiplier-button {
    grid-column-start: 1;
    grid-column-end: 2;
}

.reset {
    grid-column-start: 1;
    grid-column-end: 2;
}



