.main-title {
  flex-direction: 
  /* justify-content: center;
  align-items: flex-start; */
   }

   /* .dropdown {
    margin:25px 25px 25px 0px;
    display: flex;
    flex-direction: column;
    padding: 5px;
     } */

     /* .dropdown {
         position: relative;
         display: inline-block;
     } */

     /* .parent {
         margin:250px 25px 25px 25px;
         padding:30px;
         display: flex;
         flex-flow: row nowrap;
         align-items: center;
         justify-content: center; */
 }
    /* .donut {
        margin: 30px 25px 25px 0px;
        padding: 5px;
        order: 0;
    } */