.main-title {
    display: flex;
    justify-content: center;
    }

    .dropdown {
        display: flex;
        justify-content: flex-end;

    }



main {
    width: 90%;
    margin: 25px 25px 25px 25px;
    padding: 25px, 25px 25px 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-gap: 20px;
   }

   .donut-multiplier-text {
       grid-column-start: 2;
       grid-column-end: 3;
   }

   .donut-count {
       grid-column-start: 1;
       grid-column-end: 2;
   }

.auto-clicker-text {
    grid-column-start: 2;
    grid-column-end: 3;
}

.purchase-auto-clicker-button {
    grid-column-start: 1;
    grid-column-end: 2;
}

.donut-multiplier-text {
    grid-column-start: 2;
    grid-column-end: 3;
}


.purchase-donut-multiplier-button {
    grid-column-start: 1;
    grid-column-end: 2;
}

.reset {
    grid-column-start: 1;
    grid-column-end: 2;
}





/* .main-title {
  flex-direction:  */
  /* justify-content: center;
  align-items: flex-start; */
   }

   /* .dropdown {
    margin:25px 25px 25px 0px;
    display: flex;
    flex-direction: column;
    padding: 5px;
     } */

     /* .dropdown {
         position: relative;
         display: inline-block;
     } */

     /* .parent {
         margin:250px 25px 25px 25px;
         padding:30px;
         display: flex;
         flex-flow: row nowrap;
         align-items: center;
         justify-content: center; */
 }
    /* .donut {
        margin: 30px 25px 25px 0px;
        padding: 5px;
        order: 0;
    } */